## Video Cutscene
*.bik

## Original files
Clean_BIK/
Clean_MP4/
WAV_Sound/

## Сonverter files
Final_BIK_RA1/
Final_BIK_RA2/
Final_BIK_RA2YR/
Build/
Converted/

## Log and temp files
conversion_log.txt
conversion_log_*.log
failed.txt
test_output.txt

## Build artifacts
third-party/CMDParse/build.log
third-party/CMDParse/Cross_Converted_BIK.obj

## Test artifacts
TEST/keep
TEST/rename
TEST/nospaces_test.bik