## Video Cutscene
*.bik

## Original files
Clean_BIK/
Clean_MP4/
WAV_Sound/

## Сonverter files
Final_BIK_RA1/
Final_BIK_RA2/
Final_BIK_RA2YR/
Build/
Converted/
TEST/

## Log and temp files
conversion_log.txt
failed.txt
test_output.txt